.navbar {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-title {
  color: #010101;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: rgb(1, 1, 1);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #020202;
}

.nav-button-container {
  display: flex;
  align-items: center;
}

.signin-button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.signin-button:hover {
  background-color: #333333;
}
  